@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron center-align">
    <h1>Examen Final Web</h1>
    <p class="lead">Pagina para poner en practica los diseños basados en material - UI.</p>
    <p><a href="https://materializecss.com/" class="btn btn-primary btn-lg">Ir a la DOC. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visitas</h2>
        <p>
            Para manejar las visitas.
        </p>
        <p><a class="btn btn-default" href="~/Visitas/Index">Ir a visitas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>Crear y manejar los contactos.</p>
        <p><a class="btn btn-default" href="~/Contactoes/Index">Ir a contactos &raquo;</a></p>
    </div>
</div>